body * {
    font-family: Arial, Helvetica, sans-serif;
}

.pure-g {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

h1 {
    font-weight: 900;
}

h3 {
    font-weight: 700;
}

body {
    background-color: rgb(227, 225, 226);
}

.page {
    width: 1100px;
    background-color: white;
    margin: auto;
    padding: 50px;
    padding-top: 35px;
}

.vis-container {
    width: 100%;
    background-color: white;
    border-radius: 15px;
}

.bar-container {
    background-color: white;
    border-radius: 20px;
    width: 50%;
    margin-left: -180px;
}

.line-container {
    background-color: white;
    border-radius: 20px;
    width: 50%;
    margin-left: -170px;
    padding-top: 35px;
}

.description h2,
h1 {
    margin-top: 0px;
}

.description-right {
    padding-left: 20px;
}

.description-left {
    padding-right: 20px;
}

.pure-g {
    margin-bottom: 20px;
}

.small-font {
    font-size: 14px;
}

.para-container {
    background-color: white;
    border-radius: 15px;
    width: 70%;
}

.header-container {
    background-color: "#FFF0F5";
}